    <script type="text/javascript">
      /*!
       * Create an array of word objects, each representing a word in the cloud
       */
      var word_array = <%= @skills.to_json.html_safe %>;

      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#example").jQCloud(word_array);
      });
    </script>
    <textarea cols=80 rows=30>
    	<%= @skills_wordle.to_yaml.delete("-") %>
    </textarea>
<h1 style="text-align: center;">Hossam Hammady Online Résumé</h1>
<h2 style="text-align: center"><%= link_to "Print", home_print_path(:format => :pdf) %></h2>
<div id="example" style="width: 700px; height: 600px;"></div>
